<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<section id="edit-profile">
  <%- include("partials/user-main.ejs") %>
<!-- </section>
<section> -->
  <%- include("partials/user-details.ejs") %>
</section>
<%- include("partials/footer.ejs") %>